/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";

/* stylelint-disable */
@font-face {
  font-family: 'Proxima Nova';
  src: url ('proxima-nova-light-webfont.eot');
  src: url ('proxima-nova-light-webfont.eot?#iefix') format ('embedded-opentype'),
    url ('proxima-nova-light-webfont.woff2') format ('woff2'),
    url ('proxima-nova-light-webfont.woff') format ('woff'),
    url ('proxima-nova-light-webfont.ttf') format ('truetype'),
    url ('proxima-nova-light-webfont.svg#proxima_nova_light') format ('svg');
  font-weight: normal;
  font-style: normal;
}

/* stylelint-enable */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light: #f5f5f5;
  --main: #3778c2;
  --text: #434b54;
  --second: #5fb523;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--light);
}

header {
  background-color: var(--main);
  color: var(--light);
  padding: 1rem;
  text-align: center;
}

h1 {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--text);
}

header h1 {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--light);
}

#menuToggle {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

a {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: var(--second);
  text-decoration: none;
  padding: 0.5rem;
}

a:hover {
  color: var(--main);
}

.category-name a {
  font-size: 1.2rem;
  padding: 0%;
}

#menuToggle a {
  text-decoration: none;
  color: var(--light);
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: rgb(246, 128, 107);
}

form input {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: var(--text);
  padding: 0.5rem;
  margin: 0.5rem;
  border: var(--second) 1px solid;
  border-radius: 5px;
}

.actions input {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: var(--light);
  padding: 0.5rem;
  margin: 0.5rem;
  border: var(--second) 1px solid;
  border-radius: 5px;
  background-color: var(--second);
}

form input:focus {
  outline: none;
  background-color: hsla(95, 68%, 42%, 13%);
}

.actions input:hover {
  background-color: var(--main);
  cursor: pointer;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--light);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0;
  transition:
    transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--light);
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 230px;
  margin: -100px 0 0 -50px;
  padding: 2rem;
  padding-top: 125px;
  background: hsla(95, 68%, 42%, 0.73);
  border: #60b52368 3px solid;
  border-radius: 0 0 200px 0;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 5px;
  font-size: 1.2rem;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-right: 1.2rem;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

h2 {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--light);
  margin-top: 1rem;
  text-align: center;
}

p {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: var(--text);
}

.alert-msg {
  background-color: tomato;
  color: var(--light);
  padding: 0.5rem;
  text-align: center;
}

.alert-info {
  color: var(--second);
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.2rem;
}

form {
  padding: 1rem;
  margin: 1rem;
  border: var(--second) 1px solid;
  border-radius: 5px;
}

form label {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: var(--text);
}

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  background-color: #3778c2;
  margin-bottom: 2rem;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  margin-top: 2rem;
}

.user-info h3 {
  font-size: 1.5rem;
}

.user-info p {
  font-size: 1.2rem;
}

.categories,
.expenses {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
}

.category {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr;
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  border: var(--second) 1px solid;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.93);
}

.total-expenses,
.total-amount {
  font-size: 0.8rem;
  font-weight: bolder;
}

.created-at {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
