<p style="color: green"><%= notice %></p>

<%# if the user is signed in, display the categories %>
<% if user_signed_in? %>
  <h1>Categories</h1>

  <div id="categories">
    <% if @categories.any? %>
      <ul>
        <% @categories.each do |category| %>
          <li>
            <%= render category %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No categories yet. <%= link_to "Create one", new_user_category_path(current_user) %></p>
    <% end %>
  </div>

  <%= link_to "New category", new_user_category_path(current_user) %>
<% else %>
  <div>
    <h3>You are not signed in</h3>
    <p>You need to Sign in to see your categories or Sign up if you don't have an account yet.</p>
  </div>
<% end %>
