<% if user_signed_in? %>
  <div class="page-header">
    <h2>Categories</h2>
  </div>
  <div id="categories" class="categories">
    <% if @categories.any? %>
      <ul class="list-group">
        <p class="alert-info">Click on category name to see its expenses.</p>
        <% @categories.each do |category| %>
          <li class="list-group-item">
            <%= render category %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="alert-info text-center text-dark">You don't have any categories yet.</p>
    <% end %>
  </div>

  <%= link_to "New Category", new_user_category_path(current_user), class: "link-buttons" %>
<% else %>
  <div>
    <h3 class="alert-msg">You are not signed in</h3>
    <p class="alert-info">You need to Sign in to see your categories or Sign up if you don't have an account yet.</p>
    <p class="alert-info">Click on side menu to Sign in or Sign up.</p>
  </div>
<% end %>
