<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories">
  <% if @categories.any? %>
    <ul>
      <% @categories.each do |category| %>
        <li>
          <%= render category %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No categories yet.</p>
  <% end %>
</div>

<%= link_to "New category", new_user_category_path(current_user) %>
