<div id="<%= dom_id expense %>" class="expense p-3 m-3 d-flex justify-content-between align-items-center col-md-4">
    <div class="d-flex flex-column justify-content-between">
        <h3>
            <%= expense.name %>
        </h3>
        <p>
            <%= expense.created_at.strftime("%d/%m/%Y") %>
        </p>
    </div>
    <p class="text-end fw-bold fs-6 m-0">
        Amount: <%= expense.amount %> <span class="text-warning">$</span>
    </p>
</div>
