<div id="<%= dom_id expense %>" class="expense">
    <div>
        <h3>
            <%= expense.name %>
        </h3>
        <p>
            <%= expense.created_at.strftime("%d/%m/%Y") %>
        </p>
    </div>
    <p>
        Amount: <%= expense.amount %>
    </p>
</div>
