<div class="page-header">
  <h2>Expenses</h2>
</div>

<h3 class="fw-bold text-uppercase m-3 fs-4">
  Total: <%= @category.total_expenses(current_user).round(2) %> <span class="text-warning">$</span>
</h3>

<div class="row">
  <% @expenses.each do |expense| %>
    <%= render expense %>
  <% end %>
</div>

<%= link_to "New expense", new_user_category_expense_path(current_user, @category), class: "link-buttons mb-3" %>
<%= link_to "Back to categories", user_categories_path(current_user), class: "link-buttons mb-3" %>
