<div class="page-header">
  <h2>New expense</h2>
</div>

<%= render "form", expense: @expense %>

<br>

<div>
  <%= link_to "Back to expenses", user_category_expenses_path(current_user, @category), class: "link-buttons" %>
</div>
